
.title{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0;
    float: center;
    line-height: 1.5;
    padding-left: 45px;
    text-align: center;
    font-style: italic;
    font: arial;
    font-weight: bold;
}

.titleClass{
    width: 100%;
    height: 60px;
    background-color: mediumseagreen;
}

body{
    background-color: lightgrey;
}

.nameText{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.navigationBar{
    background-color: mediumseagreen;
    overflow: hidden;
    text-align: center;
    color: white;
}

.navigationBar a{
    float: left;
    padding-left:  20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.navigationBar a:hover{
    background-color: lightgreen;
}
